<%- include("templates/header") %>
<h1>Welcome to Ruby's 3920 Assignment 1 - Version 1!</h1>
<% if (authenticated) { %>

<a href="/members">Members Area</a>

<% } else { %>

<a href="/signup">Sign Up</a>
<a href="/login">Log in</a>

<% } %> <%- include("templates/footer") %>
