<%- include("templates/header") %>
<h1>Hello, <%= user %></h1>
<% if (cat == 1) { %> Fluffy: <img src="/fluffy.gif" style="width: 250px" /> <%
} else if (cat == 2) { %> Socks:
<img src="/socks.gif" style="width: 250px" /> <% } else { %> Sandwitch:
<img src="/sandwitch.gif" style="width: 250px" />
<% } %> <%- include("templates/footer") %>
